<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<timestamp>time</timestamp>
			</fieldNames>
			 <customFields>{"service":"topup"}</customFields>
		</encoder>
	</appender>


	<appender name="STASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<file>c:/logs/file.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>c:/logs/file.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<timestampPattern>[UNIX_TIMESTAMP_AS_NUMBER]</timestampPattern>
			<fieldNames>
				<timestamp>time</timestamp>
			</fieldNames>
			<customFields>{"service":"topup"}</customFields>
			<includeCallerData>false</includeCallerData>
		</encoder>
		<!--<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" >
        <providers>
            <mdc/>
            <timestamp>
            <pattern>[UNIX_TIMESTAMP_AS_NUMBER]</pattern>
            <fieldName>time</fieldName>
            </timestamp>
            <loggerName/>
            <pattern>
                <pattern>
                    {
                    "service": "topup",
                    "level": "%level",
                    "thread": "%thread",
                    "message": "%message"
                    }
                </pattern>
            </pattern>
         </providers>
    </encoder> -->
	</appender>
	
	<root level="all">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STASH" />
	</root>
</configuration> 